<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Contenido del carrito</title>
	<style> 
	
		#form5 {
				text-align: center;
			}
	</style>

</head>
<body>

   
	<form id="form5" action ="/example/web/carrito" name="ContenidoCarrito" method="post" > 
    
    <label> <font color="blue" size=7>CONTENIDO DEL CARRITO</font> </label><br><br><br>

    <table border="5px" align="center">

<tr>
  <td rowspan="4"><img src="{{item.URL_IMAGEN}}"></td>
  <td> <strong> {{item.NOMBRE}} </strong> </td>
</tr>
 

<tr>
   <td> <strong> {{item.PRECIO}} </strong> </td>
</tr>


<tr>
   <td> <strong> <label> Cantidad <br> </label>
	<input name="cantidad" type="number" required> </strong> </td>
</tr>


<tr>
   <td> <strong> <button name = "sel" type="submit" > Actualizar </button> </strong> </td>
</tr>


</table>
    	
      <input type="hidden" name="skus" value="{{skus}}"> <br>
      <input type="hidden" name="url" value="{{item.URL_IMAGEN}}"> <br>
      <input type="hidden" name="nombre" value="{{item.NOMBRE}}"> <br>
      <input type="hidden" name="precio" value="{{item.PRECIO}}"> <br>
      

	</form>
	
</body>

</html>